@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Vesper+Libre:wght@700&display=swap');

/*------------------------------------------------------navbar/header----*/
.my-navbar-container {
    padding-right: 0;
    z-index: 1;
}

.my-header {
    background-color: #112B2F;
    margin: 0;
    padding: 20px 0;
}

.my-brand {
    text-transform: uppercase;
    font-family: "Vespre Libre", sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 0;
    color: #9E9C99;
}

.my-nav-item {
    padding-right: 15px;
    text-align: right;
}

.my-nav-item a {
    font-family: "Vespre Libre", sans-serif;
    color: #9E9C99;
    font-size: 18px;

}

/*------------------------------------------------------footer----*/

.my-footer {
    background-color: #563e31;
    width: 100%;
}

.footer-text-container {
    text-align: center;
    padding-top: 25px;
    letter-spacing: 5px;
}

.footer-text {
    font-family:  "Vespre Libre", sans-serif;
    color: #9E9C99;
}

.socials-container {
    text-decoration: none;
    text-align: center;
    letter-spacing: 15px;
    padding-top: 15px;
}

.socials a {
    color: #9E9C99;
    font-size: 30px;
}

/*------------------------------------------------------buttons----*/

.my-btn-book {
    color: #9E9C99;
    background-color: #97331a;
    border-color: #75525D;
    margin: 0 20px;
    font-size: 20px;
    font-family: "Vespre Libre", sans-serif;
}

.my-btn-book:hover {
    color: #9E9C99;
    background-color: #75525D;
    border-color: #97331a;
}

.my-toggler:focus {
    border: none;
    box-shadow: none;
}

.my-toggler {
    border: none;
    box-shadow: none;
}

/*------------------------------------------------------hero image----*/

.hero-container {
    background: url(../images/reinhart-julian-WxM465oM4j4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

.hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.about-link {
    height: 100px;
    width: 200px;
    position: absolute;
    right: 100px;
    bottom: 30px;
    text-align: center;
    padding-top: 30px;
}

.about-link-text {
    color: #9E9C99;
    font-size: 20px;
}

/*------------------------------------------------------contact----*/

.contact-container {
    background: url(../images/mylene-tremoyet-Da0pdCekeUs-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*------------------------------------------------------media querys----*/

@media screen and (max-width: 366px) {
    .my-brand {
        margin-right: 5px;
        font-size: 20px;
    }
    .about-link {
        right: 50px;
    }
}