@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Vesper+Libre:wght@700;900&display=swap');

/*------------------------------------------------------navbar/header---------------------------------------------*/
.my-navbar-container {
    padding-right: 0;
}

.my-header {
    background-color: #112B2F;
    margin: 0;
    padding: 20px 0;
}

.my-brand {
    text-transform: uppercase;
    font-family: "Vesper Libre", sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 5px;
    color: #9E9C99;
}

.my-nav-item {
    padding-right: 15px;
    text-align: right;
}

.my-nav-item a {
    font-family: "Vesper Libre", sans-serif;
    color: #9E9C99;
    font-size: 18px;

}

.my-btn-book {
    color: #9E9C99;
    background-color: #97331a;
    border-color: #75525D;
    margin: 0 20px;
    font-size: 20px;
    font-family: "Vesper Libre", sans-serif;
}

.my-btn-book:hover {
    color: #9E9C99;
    background-color: #75525D;
    border-color: #97331a;
}

.my-toggler:focus {
    border: none;
    box-shadow: none;
}

.my-toggler {
    border: none;
    box-shadow: none;
}

.my-dropdown {
    background-color: #112B2F;
    text-align: right;
    border: none;
}

.my-dropdown li a:hover {
    background-color: #112B2F;
    color: #000;
    transition: color .15s ease-in-out;
    
}

#sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}

/*------------------------------------------------------footer---------------------------------------------*/

.my-footer {
    background-color: #563e31;
    width: 100%;
}

.footer-text-container {
    text-align: center;
    padding-top: 25px;
    letter-spacing: 5px;
}

.footer-text {
    font-family: "Vesper Libre", sans-serif;
    color: #9E9C99;
}

.socials-container {
    text-decoration: none;
    text-align: center;
    letter-spacing: 15px;
    padding-top: 15px;
}

.socials a {
    color: #9E9C99;
    font-size: 30px;
}

/*------------------------------------------------------homepage---------------------------------------------*/

/*------------------------------------------------------hero image---------------------------------------------*/

.hero-container {
    background: url(../images/other/reinhart-julian-WxM465oM4j4-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

.hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.about-link {
    height: 100px;
    width: 200px;
    position: absolute;
    right: 100px;
    bottom: 100px;
    text-align: center;
    padding-top: 30px;
}

.about-link-text {
    color: #9E9C99;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

/*------------------------------------------------------about me---------------------------------------------*/

.lloyd-photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: url(../images/other/colin-lloyd-i6R2F38EWAI-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.about-text-container {
    padding: 0 5px;
}

.about-me-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0;
}

.about-text-1,
.about-text-2 {
    font-family: "Hind", sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 5px;
}

.about-text-1,
.about-text-2 p {
    margin-top: 10px;
}

.page-break {
    max-width: 60%;
    height: 5px;
    border: 0;
    background-color: #9E9C99;
    margin: 0 auto;
    margin-top: 40px;
}

/*------------------------------------------------------testimonials---------------------------------------------*/

.testimonial-image-1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(../images/other/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-image-2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(../images/other/ali-morshedlou-WMD64tMfc4k-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-container {
    padding: 25px 5px;
}

.testimonial-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 40px 0;
}

.testimonial-text {
    margin: 0;
    font-family: "Hind", sans-serif;
}

/*------------------------------------------------------gallery page---------------------------------------------*/

.photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    max-width: 100%;
    background-color: #9E9C99;
}

.photos img {
    width: 100%;
}

.gallery-heading-top-container {
    padding-top: 93px;
    background-color: #a3a19d;
}

.gallery-heading-container {
    background-color: #a3a19d;
}

.gallery-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

.gallery-heading h2 {
    margin: 0;
}

.gallery-book-btn {
    margin: 0 auto;
    margin-top: 24px;
}

.mobile-toggler {
    color: #9E9C99;
    font-size: 30px;
}

.mobile-nav-menu {
    background-color: #9E9C99;
    
}

.dropdown-item {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    padding: 8px 0 8px 16px;
}

/*------------------------------------------------------contact page---------------------------------------------*/

.contact-row {
    background: url(../images/other/mylene-tremoyet-Da0pdCekeUs-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
    position: relative;
    margin-top: 93px;
}

.form-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    background-color: rgba(158, 156, 153, 0.5);
    position: absolute;
    top: 80px;
    left: 15%;
}

.contact-heading {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: calc(2.5rem + .9vw);
    font-weight: 600;

}

.contact-paragraph {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    margin: 20px 0 30px 0;
}

.form-control {
    font-family: "Hind", sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
}

.form-control:hover {
    border-color: #112B2F;
}

.submit-btn:hover {
    border-color: #112B2F;

}

/*------------------------------------------------------response page---------------------------------------------*/

.response-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    background-color: rgba(158, 156, 153, 0.5);
    position: absolute;
    top: 80px;
    left: 15%;
    padding-top: 93px;
}

.response-heading {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: calc(2.5rem + .9vw);
    font-weight: 600;
}

.response-paragraph {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    margin: 20px 0 30px 0;
}

/*------------------------------------------------------media querys---------------------------------------------*/

@media screen and (max-width: 376px) {
    .response-container {
        padding-top: 85px;
    }

    .contact-row {
        margin-top: 85px;
    }

    .my-brand {
        margin-left: 10px;
        margin-right: 0px;
        font-size: 20px;
    }

    .about-link {
        right: 50px;
    }

    .form-container {
        top: 40px;
    }
}

@media screen and (min-width: 992px) {
    .photos img:hover {
        transform: scale(1.1)
    }
}

@media screen and (max-width: 992px) {
    .photos {
        column-count: 3;
    }
}

@media screen and (max-width: 768px) {
    .photos {
        column-count: 2;
    }

    .lloyd-photo {
        margin: 0 auto;
    }

    .about-text-2 {
        padding-top: 25px;
    }

    .testimonial-text {
        padding: 25px 5px 5px;
    }
}

@media screen and (max-width: 576px) {
    .photos {
        column-count: 1;
    }

    .about-text-2 {
        padding-top: 25px;
    }
}

/*------------------------------------------------------modal---------------------------------------------*/

.modal-header {
    display: inline;
}

.my-modal-title {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.my-modal-subtitle {
    font-family: "Hind", sans-serif;
    text-align: center;
}

.mobile-gallery-nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

